:root {
  --bg: #242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a, .link {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}
html, body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

button, .btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button svg, .btn svg {
  margin: 0;
  font-size: 1.5em;
  line-height: 0;
  vertical-align: middle;
}
button:not(:disabled):hover, .btn:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* comment animations */
@keyframes mobileAnimation {
  0% {
      top: 120px;
      left: -100%;
      opacity: 0;
  }
  20% {
      top: 120px;
      left: 10px;
      opacity: 1;
  }
  40% {
      top: 100px;
      opacity: 1;
  }
  80% {
      top: 100px;
      left: 10px;
      opacity: 1;
  }
  100% {
      top: 100px;
      left: 100%;
      opacity: 0;
  }
}
@keyframes desktopAnimation {
  0% {
      transform: translateX(-50px);
      opacity: 0;
  }
  20% {
      transform: translateX(-30px);
      opacity: 1;
  }
  80% {
      transform: translateX(30px);
      opacity: 1;
  }
  100% {
      transform: translateX(50px);
      opacity: 0;
  }
}

@media screen and (max-width: 900px) {
  .search > span, .logo, .updated {
    display: none;
  }
  header h1 {
    padding-left: 10px;
  }
  .search {
    transform: none !important;
  }
  .rip {
    height: 200px !important;
  }
  .rip h2 {
    font-size: 1.2em;
    -webkit-line-clamp: 1 !important;
    white-space: nowrap !important;
  }
  .rip-inner {
    height: 190px !important;
    user-select: none;
    align-items: flex-start !important;
  }
  .rip-inner .joke {
    position: absolute;
    bottom: 0px;
    max-height: 100px;
    width: calc(90% - 20px) !important;
    left: 10%;
  }
  .rip-actions {
    height: 110px !important;
  }
  .rip .thumb {
    width: 10% !important;
  }
  .rip .thumb img {
    transform: rotate(90deg) translateY(40%);
    width: 190px !important;
  }
  .rip .thumb .duration {
    left: 0 !important;
    width: 100%;
    border-radius: 0 !important;
    bottom: 0 !important;
  }
  .rip .title {
    width: 100% !important;
    max-width: 100% !important;
  }
  .rip .title {
    line-height: 1.2;
  }
}